<h1>
  <%= @event.title %>
  <% if can? :update, @event %>
    <%= link_to edit_event_path(@event), class: 'button button-small title__action-link' do %>
      <%= icon('fas', 'edit', 'Edit') %>
    <% end %>
  <% end %>
  <% if can? :destroy, @event %>
    <%= link_to event_path, method: :delete, data: { confirm: 'Are you sure you want to delete this event? This action is PERMANENT and cannot be undone.' }, class: 'button button-small danger title__action-link' do %>
      <%= icon('fas', 'trash', 'Delete') %>
    <% end %>
  <% end %>
</h1>
<%= @event.description %>